

name: vedbobade-portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - name: checkout code
      uses: actions/checkout@v4
      
      
    - name: Validate HTML files
      run: |
        echo "Portfolio bbuild successful"

  
